@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    font-family: Lato;
}

/* -- container principale -- */

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 3fr 7fr;
}

.title {
    font-weight: 900;
    color: white;
    justify-self: center;
}

/* -- player display container -- */

.player-display {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    gap: 25px;
}

.player-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 65px;
    width: 65px;
    position: absolute;
    z-index: 1;
    bottom: 120px;
}

.player-card {
    height: 150px;
    width: 200px;
    background-color: rgba(186, 182, 182, 0.528);
    border-radius: 15px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Sora;
}

.text {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    align-items: center;
    font-size: 1.1em;
    gap: 15px;
}

.scoreplayer {
    display: flex;
    flex-direction: row;
}

#score-player1, #score-player2 {
    padding-left: 5px;
}

/* -- Grid container -- */

.game-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.grid-container {
    height: 93%;
    width: 500px;
    margin-top: 15px;
    background-color: rgba(186, 182, 182, 0.277);
    border-radius: 15px;
}

.grid-game {
    display: grid;
    height: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.card-game {
    height: 90%;
    width: 90%;
    border-radius: 10px;
    background-color: #051937d1;
    margin: 5px;
    display: flex;
    border: none;
}


.player1, .player2 {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: 700; 
    font-size: 8em ;
}

.player1{
    color: rgb(12, 240, 12);
    text-shadow: rgb(12, 240, 12) 1px 0 7px;
}

.player2{
    color:rgb(242, 61, 61);
    text-shadow: rgb(242, 61, 61) 1px 0 7px;
}